{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book: {{ book.title }}</h1>

    <div class="mt-4" style="background-color: #c7dbd2;">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center p-3">
                    {% if book.image %}
                        <img class="img-fluid" src="{{ book.imagePath }}" alt="{{ book.image }}">
                    {% else %}
                        <img src="{{ asset('./build/images/noimage.jpg') }}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="p-3">
                    <h4>{{ book.title }}</h4>
                    <h6>Author: {{ book.author.name }} {{ book.author.surname }}</h6>
                    <h6>ISBN: {{ book.isbn }}</h6>
                    <h6>Pages: {{ book.pages }}</h6>
                    <div>
                        <h6>About:</h6>
                        {{ book.about|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}