{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    <form action="{{ path('book_update', {id:book.id}) }}) }}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <label for="book_title" class="form-label">Title</label>
                <input class="form-control" type="text" name="book_title" id="book_title" value="{{ book.title }}">
                <label for="book_isbn" class="form-label">ISBN</label>
                <input class="form-control" type="text" name="book_isbn" id="book_isbn" value="{{ book.isbn }}">
                <label for="book_author" class="form-label">Author</label>
                <select name="book_author_id" id="book_author" class="form-select">
                    {% for author in authors %}
                        <option value="{{ author.id }}" {% if author.id == book.author.id %} selected {% endif %}>
                            {{ author.name }} {{ author.surname }}
                        </option>
                    {% endfor %}
                </select>
                <label for="book_pages" class="form-label">Pages</label>
                <input class="form-control" type="text" name="book_pages" id="book_pages" value="{{ book.pages }}">
                <label for="summernote" class="form-label">About</label>
                <textarea id="summernote" name="book_about">{{ book.about }}</textarea>
                {# <textarea class="form-control" placeholder="About book" name="book_about" id="book_about">{{ book.about }}</textarea> #}
                <div class="btn-group mt-2" role="group">
                    <button type="submit" class="btn btn-outline-primary me-2">Save</button>
                    <input type="hidden" name="token" value="{{ csrf_token('') }}"/>
                    <a class="btn btn-outline-dark me-2" href="{{ path('book_index') }}">Back</a>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                {% if errors is defined and errors|length > 0 %}
                    {% include 'errors/validation.html.twig' %}
                {% endif %}
            </div>
        </div>


    </form>

{% endblock %}