{% extends 'base.html.twig' %}

{% block title %}Books list{% endblock %}

{% block body %}
    <h1>Books</h1>
    <div class="p-2 float-end">
        <form action="{{ path('book_index') }}" method="GET">
            <div class="input-group">
                <span class="input-group-text" id="book_sort">List order by</span>
                <select class="form-select" id="book_sort" name="sort">
                    <option value="default">Default</option>
                    <option value="title_az" {% if sortBy == 'title_az' %} selected {% endif %}>Title a-z</option>
                    <option value="title_za" {% if sortBy == 'title_za' %} selected {% endif %}>Title z-a</option>
                </select>
                <button class="btn btn-outline-dark" type="submit">Sort</button>
            </div>
        </form>
    </div>
    <div class="p-2 float-end">
        <form action="{{ path('book_index') }}" method="GET">
            <div class="input-group">
                <span class="input-group-text" id="book_filter">Filter list by</span>
                <select name="author_id" id="book_filter" name="filter">
                    <option value="0">View all</option>
                    {% for author in authors %}
                        <option value="{{ author.id }}" {% if authorId == author.id %} selected {% endif %}>{{ author.name }} {{ author.surname }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-dark" type="submit">Filter</button>
            </div>
        </form>
    </div>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Author name</th>
            <th scope="col">ISBN</th>
            <th scope="col">Pages</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ book.title }}</td>
                <td>
                    <a href="{{ path('author_books', {id: book.author.id}) }}">{{ book.author.name }} {{ book.author.surname }}</a>
                </td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.pages }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-secondary me-2" href="{{ path('book_edit', {id: book.id}) }}">Edit</a>
                        <form action="{{ path('book_delete', {id:book.id}) }}" method="POST">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}